* {
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.container-course {
  width: 100%;
  height: 2150px;
  background: rgba(101,204,184,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.navbar-course {
  width: 100%;
  height: 69px;
  background: url("../images/v27_90.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: -1px;
  left: 0px;
  overflow: hidden;
}
.bgNav {
  width: 100%;
  height: 68px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.Logo_Nav {
  width: 210px;
  height: 69px;
  background: url("../images/v3_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 847px;
  overflow: hidden;
}
.sidebar {
  width: 42px;
  height: 36px;
  background: url("../images/v3_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 19px;
  overflow: hidden;
}
.textsidebar {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 75px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.textsidebar1 {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 245px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.textsidebar2 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 375px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.textsidebar:hover{
  color: rgba(101,204,184,1);
  transition: 0.5s;
}
.textsidebar1:hover{
  color: rgba(101,204,184,1);
  transition: 0.5s;
}
.textsidebar2:hover{
  color: rgba(101,204,184,1);
  transition: 0.5s;
}
.btnRegister2 {
  width: 128px;
  height: 43px;
  background: rgba(59,148,94,1);
  opacity: 1;
  position: absolute;
  color: #f2f2f2;
  font-weight: bold;
  font-size: large;
  top: 14px;
  left: 1771px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.btnRegister2:hover{
  color: black;
  background: #f2f2f2;
  transition: 0.5s;
}
.LoginBtn {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 1683px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.LoginBtn:hover{
  color: rgba(59,148,94,1);
  transition: 0.5s;
}
.slogan {
  width: 510px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 248px;
  left: 705px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.course-bg {
  width: 100%;
  height: 375px;
  background: url("../images/v27_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 599px;
  left: 0px;
  overflow: hidden;
}
.course-bar {
  width: 100%;
  height: 375px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.python {
  width: 122px;
  height: 191px;
  background: url("../images/v16_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 148px;
  overflow: hidden;
}
.pythonlogo {
  width: 122px;
  height: 130px;
  background: url("../images/v8_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.textpython {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 163px;
  left: 13px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.java {
  width: 105px;
  height: 191px;
  background: url("../images/v16_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 438px;
  overflow: hidden;
}
.javalogo {
  width: 105px;
  height: 130px;
  background: url("../images/v9_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.textjava {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 163px;
  left: 23px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.C {
  width: 153px;
  height: 191px;
  background: url("../images/v16_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 712px;
  overflow: hidden;
}
.Clogo {
  width: 153px;
  height: 153px;
  background: url("../images/v10_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.textC {
  width: 42px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 163px;
  left: 56px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.javascript {
  width: 185px;
  height: 191px;
  background: url("../images/v16_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 1033px;
  overflow: hidden;
}
.javascriptlogo {
  width: 185px;
  height: 130px;
  background: url("../images/v10_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.textjavascript {
  width: 143px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 163px;
  left: 21px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.html {
  width: 114px;
  height: 191px;
  background: url("../images/v16_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 1387px;
  overflow: hidden;
}
.htmllogo {
  width: 114px;
  height: 130px;
  background: url("../images/v10_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.texthtml {
  width: 66px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 163px;
  left: 24px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.css {
  width: 88px;
  height: 191px;
  background: url("../images/v16_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 1670px;
  overflow: hidden;
}
.csslogo {
  width: 88px;
  height: 130px;
  background: url("../images/v10_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.textcss {
  width: 46px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 163px;
  left: 21px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.mitra {
  width: 100%;
  height: 502px;
  background: url("../images/v27_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1043px;
  left: 401px;
  overflow: hidden;
}
.mitratext {
  width: 166px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 468px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.logomitra1 {
  width: 205px;
  height: 194px;
  background: url("../images/v10_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 0px;
  overflow: hidden;
}
.logomitra2 {
  width: 205px;
  height: 194px;
  background: url("../images/v10_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 181px;
  overflow: hidden;
}
.logomitra3 {
  width: 205px;
  height: 194px;
  background: url("../images/v10_119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 362px;
  overflow: hidden;
}
.logomitra4 {
  width: 205px;
  height: 194px;
  background: url("../images/v10_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 543px;
  overflow: hidden;
}
.logomitra5 {
  width: 205px;
  height: 194px;
  background: url("../images/v10_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 724px;
  overflow: hidden;
}
.logomitra6 {
  width: 205px;
  height: 194px;
  background: url("../images/v10_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 905px;
  overflow: hidden;
}
.logomitra7 {
  width: 205px;
  height: 194px;
  background: url("../images/v10_125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 308px;
  left: 553px;
  overflow: hidden;
}
.logomitra8 {
  width: 205px;
  height: 194px;
  background: url("../images/v10_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 308px;
  left: 755px;
  overflow: hidden;
}
.logomitra9 {
  width: 205px;
  height: 194px;
  background: url("../images/v10_123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 308px;
  left: 149px;
  overflow: hidden;
}
.logomitra10 {
  width: 205px;
  height: 194px;
  background: url("../images/v10_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 308px;
  left: 351px;
  overflow: hidden;
}
.footer {
  width: 100%;
  height: 322px;
  background: url("../images/v27_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1838px;
  left: 0px;
  overflow: hidden;
}
.footerbg {
  width: 100%;
  height: 299px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 0px;
  overflow: hidden;
}
.logo1 {
  width: 89px;
  height: 89px;
  background: url("../images/v16_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 802px;
  overflow: hidden;
}
.textContactUs {
  width: 217px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 86px;
  left: 85px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.number {
  width: 191px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 159px;
  left: 85px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.email {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 213px;
  left: 85px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.ytlogo {
  width: 50px;
  height: 50px;
  background: url("../images/v16_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 224px;
  left: 1510px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.linkldnlogo {
  width: 50px;
  height: 50px;
  background: url("../images/v16_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 1648px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.textFollowUs {
  width: 192px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 86px;
  left: 1517px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.facebooklogo {
  width: 50px;
  height: 50px;
  background: url("../images/v16_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 1510px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.twitterlogo {
  width: 50px;
  height: 50px;
  background: url("../images/v16_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 1579px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.instagramlogo {
  width: 50px;
  height: 50px;
  background: url("../images/v16_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 1786px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.bloglogo {
  width: 50px;
  height: 50px;
  background: url("../images/v16_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 1717px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.logoFooter {
  width: 408px;
  height: 184px;
  background: url("../images/v16_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 755px;
  overflow: hidden;
}
.credit {
  width: 231px;
  height: 21px;
  background: url("../images/v16_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 844px;
  overflow: hidden;
}
.logocredit {
  width: 21px;
  height: 21px;
  background: url("../images/v16_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.textcredit {
  width: 206px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 25px;
  font-family: Risque;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.logo2 {
  width: 94px;
  height: 93px;
  background: url("../images/v16_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 916px;
  overflow: hidden;
}
.logo3 {
  width: 113px;
  height: 127px;
  background: url("../images/v16_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 142px;
  left: 1021px;
  overflow: hidden;
}
